<div>
    <h1>Create a new Password</h1>
        <form id="passRestoreForm">
          <div>
            <label for="password">New Password</label>
            <input type="password" name="password" placeholder="••••••••" required=""
            />
          </div>
          <div>
            <label for="password2">Repeat your new Password</label>
            <input type="password" name="password2"
              placeholder="••••••••" required=""
            />
          </div>
          <button type="submit">Submit</button>
          <p>If not, login here!<a href="/">Login here</a>
          </p>
        </form>
</div>

<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"
></script>

<script src="/js/resetPassword.js" type="module"></script>