

{{!-- {{#each products}}

<div class="container">
    <div class="wrapper">
    <div class="banner-image"> </div>
    <h1> {{this.title}} </h1>
    <p> {{this.description}} </p>
    </div>
    <div class="button-wrapper"> 
    <button class="btn outline">DETAILS</button>
    <button class="btn fill">BUY NOW</button>
    </div>
    </div>
</div>


{{/each}} --}}